---
import ApiForm from "../components/ApiForm.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Index page content</h1>
		<nav class="flex flex-col gap-2 bg-green-700 p-4">
			<a href="/login">Login page</a>
		</nav>
		<ApiForm />
		<p>This example has min tailwind styles for 
			the feedback dialogs after submitting the form
		</p>
		<p>Test error path with the email "test@error.com"</p>
	</body>
</html>
